* {
  margin: 0;
  padding: 0;
}

.app {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}

.amount {
  display: flex;
  flex-direction: column;
}

.amount input {
  margin-top: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
.amount input:active{
  outline: none;
  border: none;
}
.options {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.result {
  margin-top: 50px;
  border-bottom: 1px solid gray;
}